#src_input {
	height: 70vh;
	overflow: auto;
}
#src_output {
	height: 70vh;
	overflow: auto;
}
.floating_blocks {
	float: left;
	width: 50%;
	height: 80%;
}
.input_region {
	width: 95%;
	height: 100%;
}
.output_region {
	width: 95%;
	height: 100%;
}
#text_wikilink {
    width: 50%;
}
#ctrlarea {
    width: 50%;
}
tr {
	vertical-align: top;
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: thin;
}
td {
	padding: 3px;
}
th {
	text-align: left;
}
table {
	border-collapse: collapse;
	width: 100%;
}
.item_filename {
	width: 20%;
	word-break: break-all;
}
.item3 {
	width: 40%;
}
.item2 {
	width: 80%;
}
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
